html{
  box-sizing: border-box;
}*,*::before,*::after{
  box-sizing: inherit;
}


body{
  font-family: Arial, Helvetica, sans-serif;
}

.contenedor{
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
}

img{
  width: 100%;
}

.header{
  background-color: #CC1A50;
  color: #ffffff;
  font-family: 'Yellowtail', cursive;
  padding: .5rem 0;
  text-align: center;
}

.formulario{
  background-color: #EFEFEF;
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 5rem auto 0 auto;
  border-radius: 20px;
}

.inputs{
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #707070;
  padding: .5rem 0;
}

.inputs:focus{

    outline: none;
    border-bottom: 2px solid #CC1A50;
    background-color: #ecdce1;
}

label{
  font-size: 1.7rem;
  margin: 1rem 0 .5rem 0;
}

.boton{
  background-color: #CC1A50;
  color: #ffffff;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  margin-top: 2rem;
  padding: .8rem;
  font-size: 1.5rem;
}
.boton:hover{
  cursor: pointer;
}


.error{
  background-color: #CC1A50;
  padding: .5rem;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
}


.info-peliculas{
  background-color: #FBFBFB;
  padding: 2rem;
  border-radius: 20px;
  margin-top: 5rem;
  border: 1px solid #707070;
  display: grid;
  grid-template-rows: repeat(2, max-content);
}

.info-peliculas h2{
  text-align: center;
  font-size: 2.5rem;
}

.info-peliculas .secciones{
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px){
  .info-peliculas .secciones{
    flex-direction: row;
    justify-content: space-between;
  }
  .poster{
    flex-basis: calc(40% - 1rem);
  }
  
  .informacion{
    flex-basis: calc(60% - 1rem);
  }
  .informacion h2{
    text-align: left;
    margin: .8rem;
  }
}

.poster{
  background-color: #365E91;
  -webkit-box-shadow: 10px 11px 10px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 11px 10px -8px rgba(0,0,0,0.75);
  box-shadow: 10px 11px 10px -8px rgba(0,0,0,0.75);
}
.card{
  padding: 1rem;
  color: #ffffff;
}
.card p{
  font-size: 1.5rem;
  font-weight: bold;
  margin: .7rem 0;
}
.card span{
  font-size: 1.2rem;
  font-weight: normal;
}

.info{
  line-height: 2;
  font-size: 1.2rem;
  border-bottom: 1px solid #707070;
}

.premio{
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
}
.premio img{
  width: 8rem;
}
.premio p{
  font-size: 1.8rem;
}